{% extends "teacher/base.html" %}
{% block title %}Add Missing Attendance{% endblock %}
{% load static %}
{% block add %}
<style>
    .addmissing {
        width: 80%;
        max-width: 600px;
        margin: 50px auto 0px;
        background-color: lavender;
        padding: 100px 60px 100px 60px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .addmissing h1 {
        text-align : center;
    }
    form {
       margin-top: 20px;
    }
    .form-group {
       margin-bottom: 20px;
    }
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .form-group input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    .form-group input[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}
{% block body %}
<br><br>
<div class="addmissing">
    <h1>Report Missing Attendance </h1>
    <form method="post" action="{% url 'teacher_add_missing' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="student_id">Student ID:</label>
            <input type="text" name="student_id" required>
        </div>
        <div class="form-group">
            <label for="status">Present/Absent:</label>
            <select name="status">
                <option value="Present">Present</option>
                <option value="Absent">Absent</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" name="date" required>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock %}