{% extends "customAdmin/base.html" %}
{% block title %} Add_Manually {% endblock %}
{% block style %}
        .criminal {
            max-width: 500px;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-left:390px;
        }
        h2 {
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-top: 10px;
            font-weight: bold;
        }
        input[type="text"],
        input[type="file"],
        textarea {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        textarea {
            resize: vertical;
            height: 100px;
        }
        input[type="checkbox"] {
            margin-top: 15px;
        }
        button {
            padding: 10px;
            margin-top: 20px;
            border: none;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }

{% endblock %}
{% block body %}
{% load static %}
    <div class="criminal">
        <h2>Criminal Information Form</h2>
        <form id="criminalForm" action="{% url 'add_criminal' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" id="isDeleted" name="isDeleted" value="False">

            <label for="wantedId">Wanted ID</label>
            <input type="text" id="wantedId" name="wantedId" required>

            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>

            <label for="parentage">Parentage</label>
            <input type="text" id="parentage" name="parentage">

            <label for="aliases">Aliases</label>
            <input type="text" id="aliases" name="aliases">

            <label for="address">Address</label>
            <textarea id="address" name="address"></textarea>

            <label for="photo">Photo</label>
            <input type="file" name="photo" class="photo" id="photo" required>

            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}
